---
# file: roles/gateway/tasks/interfaces.yml

- name: Template /etc/network/interfaces
  template:
    src: 'interfaces.j2'
    dest: '/etc/network/interfaces'
    owner: root
    group: root
    mode: 0644
  notify: ifreload
