# Caddy's configuration file
# see: https://caddyserver.com/docs/caddyfile

{
  # mainly for ACME account for certificate generation
  email d-pjodd@lublin.se
  # don't run admin api on port 2019, we config using file and restart
  admin off
}

pjodd.se {
  root * /var/www/pjodd.se/
  file_server
}
