# -*- shell-script -*-
#
#  Configuration file for ferm(1).
#

@def $PJODD_NET = ( 10.46.0.0/16 );
@def $PJODD_NET6 = ( fdec:910d:d05e/64 );

domain (ip ip6) {
    table filter {
        chain INPUT {
            policy DROP;

            # connection tracking
            mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;

            # allow local packet
            interface lo ACCEPT;

            # respond to ping
            proto icmp ACCEPT;

            # allow SSH connections
            proto tcp dport {{ ssh_port }}  ACCEPT;
        }
        chain OUTPUT {
            policy ACCEPT;

            # connection tracking
            #mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;
        }
        chain FORWARD {
            policy DROP;

            # connection tracking
            mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;
        }
    }
}

domain ip {
    table nat {
        chain POSTROUTING {
	    saddr $PJODD_NET outerface eth0 MASQUERADE;
	}
    }
}

#domain ip6 {
#    table nat {
#        chain POSTROUTING {
#	    saddr $PJODD_NET6 outerface eth0 MASQUERADE;
#	}
#    }
#}
