# -*- shell-script -*-
#
#  Configuration file for ferm(1).
#

@def $HOST_ADDR = ( {{ outernet.inet.subnet }}.{{ gateway_number }} {% if outernet.inet6.subnet is defined %}{{ outernet.inet6.subnet }}{{ gateway_number }}{% endif %} );
@def $PJODD_NET = ( 10.46.0.0/16 );
@def $PJODD_NET6 = ( fdec:910d:d05e::/64 );

domain (ip ip6) {
    table filter {
        chain INPUT {
            policy DROP;

            # connection tracking
            mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;

            # allow local packet
            interface lo ACCEPT;

            # respond to ping
            proto icmp ACCEPT;

            # allow SSH connections
            daddr $HOST_ADDR proto tcp dport {{ ssh_port }}  ACCEPT;

            # allow fastd connections
            daddr $HOST_ADDR proto tcp dport {{ fastd_port }}  ACCEPT;
        }
        chain OUTPUT {
            policy ACCEPT;

            # connection tracking
            #mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;
        }
        chain FORWARD {
            policy DROP;

            # connection tracking
            mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;
        }
    }
}

domain ip {
    table nat {
        chain POSTROUTING {
	    saddr $PJODD_NET daddr ! $PJODD_NET outerface eth0 MASQUERADE;
	}
    }
}

{% if outernet.inet6.subnet is defined %}
domain ip6 {
    table nat {
        chain POSTROUTING {
	    saddr $PJODD_NET6 daddr ! $PJODD_NET6 outerface eth0 MASQUERADE;
	}
    }
}
{% endif %}
