# {{ ansible_managed }}
#
interface br-pjodd {
  AdvSendAdvert on;
  #
  # Please uncomment if you don't want an IPv6 default route to be broadcasted.
  #
  # AdvDefaultLifetime 0;
  IgnoreIfMissing on;
  AdvManagedFlag on;
  AdvOtherConfigFlag on;
  MaxRtrAdvInterval 200;

  prefix {{ pjoddnet.subnet6 }}::/{{ pjoddnet.cidr6 }} {
     AdvOnLink on;
     AdvAutonomous on;
     AdvRouterAddr on;
     AdvPreferredLifetime 14400;
     AdvValidLifetime 86400;
  };

  RDNSS {{ pjoddnet.subnet6 }}::ff0{{ gateway_number }} {
  };

  route fc00::/7
  {
     AdvRouteLifetime 1200;
  };
};
